.country-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.visited-flag {
  width: 100px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gray;
  padding: 5px;
}
